<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO list with flask</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <td>Content</td>
        <td>Time</td>
        <td>Operation</td>
    </tr>
    </thead>

    <tbody>
    {% for t in todos %}

    <tr>
        <td>{{ t.content }}</td>
        <td>{{ t.time }}</td>
        <td>{% if t.status == 0 %}
            <a href="/done/{{ t.id }}" class="btn btn-primary">Done</a>
            {% else %}
             <a href="/undone/{{ t.id }}" class="btn btn-primary">Undone</a>
            {% endif %}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>


<form action="/add" method="post" class="input-group">
    <input type="text" id="content" name="content" class="form-control" value="">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Add</button>
    </span>
</form>
</body>
</html>